{
  "openapi": "3.0.3",
  "info": {
    "title": "dgat-backend",
    "description": "",
    "license": { "name": "" },
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://ec2-3-127-149-67.eu-central-1.compute.amazonaws.com/api",
      "description": "DGAT Backend Server"
    }
  ],
  "paths": {
    "/action-plans": {
      "get": {
        "tags": ["crate::api::handlers::action_plan"],
        "operationId": "list_action_plans",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number (default 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true,
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size (default 20)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Action plans fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponsePaginatedActionPlanResponse"
                }
              }
            }
          }
        }
      }
    },
    "/action-plans/assessment/{assessment_id}": {
      "get": {
        "tags": ["crate::api::handlers::action_plan"],
        "summary": "Get action plan by assessment ID",
        "operationId": "get_action_plan_by_assessment_id",
        "parameters": [
          {
            "name": "assessment_id",
            "in": "path",
            "description": "Assessment ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Action plan fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseActionPlanResponse"
                }
              }
            }
          },
          "404": { "description": "Action plan not found" }
        }
      }
    },
    "/action-plans/{action_plan_id}/action-items": {
      "post": {
        "tags": ["Action Plans"],
        "summary": "Create a new action item for a specific action plan",
        "operationId": "create_action_item",
        "parameters": [
          {
            "name": "action_plan_id",
            "in": "path",
            "description": "ID of the action plan",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateActionItemRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Action item created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseActionItemResponse"
                }
              }
            }
          },
          "400": { "description": "Bad request" },
          "404": { "description": "Action plan not found" },
          "500": { "description": "Internal server error" }
        }
      }
    },
    "/action-plans/{action_plan_id}/action-items/{action_item_id}": {
      "put": {
        "tags": ["Action Plans"],
        "summary": "Update an existing action item for a specific action plan",
        "operationId": "update_action_item",
        "parameters": [
          {
            "name": "action_plan_id",
            "in": "path",
            "description": "ID of the action plan",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "action_item_id",
            "in": "path",
            "description": "ID of the action item to update",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateActionItemRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Action item updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseActionItemResponse"
                }
              }
            }
          },
          "400": { "description": "Bad request" },
          "404": { "description": "Action item or plan not found" },
          "500": { "description": "Internal server error" }
        }
      },
      "delete": {
        "tags": ["Action Plans"],
        "summary": "Delete an action item for a specific action plan",
        "operationId": "delete_action_item",
        "parameters": [
          {
            "name": "action_plan_id",
            "in": "path",
            "description": "ID of the action plan",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "action_item_id",
            "in": "path",
            "description": "ID of the action item to delete",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "204": { "description": "Action item deleted successfully" },
          "404": { "description": "Action item or plan not found" },
          "500": { "description": "Internal server error" }
        }
      }
    },
    "/admin/gaps": {
      "post": {
        "tags": ["Admin"],
        "summary": "Create a new gap (admin)",
        "description": "Creates a new gap with a specified severity and description.\nThis endpoint requires a direct severity level and does not use rule-based calculations.\n\nRequired fields:\n- `dimension_id` (UUID)\n- `gap_description` (string)\n- `gap_severity` (enum: \"LOW\", \"MEDIUM\", \"HIGH\")\n\nExample:\n{\n\"dimension_id\": \"3fa85f64-5717-4562-b3fc-2c963f66afa6\",\n\"gap_description\": \"A significant gap in the marketing dimension.\",\n\"gap_severity\": \"HIGH\"\n}",
        "operationId": "admin_create_gap",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AdminCreateGapRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Gap created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseGapResponse"
                }
              }
            }
          },
          "400": { "description": "Invalid input data" },
          "401": { "description": "Unauthorized" },
          "404": { "description": "Dimension assessment not found" }
        },
        "security": [{ "jwt": [] }]
      }
    },
    "/admin/groups/path": {
      "get": {
        "tags": ["Group"],
        "operationId": "get_group_by_path",
        "parameters": [
          {
            "name": "path",
            "in": "query",
            "description": "Group Path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/KeycloakGroup" }
              }
            }
          }
        }
      }
    },
    "/admin/groups/{group_id}": {
      "get": {
        "tags": ["Group"],
        "operationId": "get_group",
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "Group ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/KeycloakGroup" }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Group"],
        "operationId": "update_group",
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "Group ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/GroupUpdateRequest" }
            }
          },
          "required": true
        },
        "responses": { "204": { "description": "No Content" } }
      },
      "delete": {
        "tags": ["Group"],
        "operationId": "delete_group",
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "Group ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": { "204": { "description": "No Content" } }
      }
    },
    "/admin/groups/{group_id}/members": {
      "get": {
        "tags": ["User"],
        "summary": "Get all members of a group",
        "operationId": "get_group_members",
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "Group ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/KeycloakUser" }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["User"],
        "summary": "Add a member to a group (cooperation)",
        "operationId": "add_member",
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "Cooperation Group ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AddMemberRequest" }
            }
          },
          "required": true
        },
        "responses": { "201": { "description": "Created" } }
      }
    },
    "/admin/organizations": {
      "get": {
        "tags": ["Organization"],
        "summary": "Get organizations",
        "operationId": "get_organizations",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/KeycloakOrganization"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Organization"],
        "summary": "Create organization",
        "operationId": "create_organization",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeycloakOrganization"
                }
              }
            }
          }
        }
      }
    },
    "/admin/organizations/{org_id}": {
      "get": {
        "tags": ["Organization"],
        "summary": "Get organization by ID",
        "operationId": "get_organization",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeycloakOrganization"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Organization"],
        "summary": "Update organization",
        "operationId": "update_organization",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": { "204": { "description": "No Content" } }
      },
      "delete": {
        "tags": ["Organization"],
        "summary": "Delete organization",
        "operationId": "delete_organization",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": { "204": { "description": "No Content" } }
      }
    },
    "/admin/organizations/{org_id}/dimensions": {
      "get": {
        "tags": ["Organization"],
        "summary": "Get all dimensions of an organization",
        "operationId": "get_organization_dimensions",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "type": "string", "format": "uuid" }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Organization"],
        "summary": "Assign a dimension to an organization",
        "operationId": "assign_dimension_to_organization",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssignDimensionRequest"
              }
            }
          },
          "required": true
        },
        "responses": { "201": { "description": "Created" } }
      },
      "put": {
        "tags": ["Organization"],
        "summary": "Update all dimensions of an organization",
        "operationId": "update_organization_dimensions",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrganisationDimensionsRequest"
              }
            }
          },
          "required": true
        },
        "responses": { "204": { "description": "No Content" } }
      }
    },
    "/admin/organizations/{org_id}/dimensions/{dimension_id}": {
      "delete": {
        "tags": ["Organization"],
        "summary": "Remove a dimension from an organization",
        "operationId": "remove_dimension_from_organization",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "dimension_id",
            "in": "path",
            "description": "Dimension ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": { "204": { "description": "No Content" } }
      }
    },
    "/admin/organizations/{org_id}/groups": {
      "get": {
        "tags": ["Group"],
        "operationId": "get_groups_by_organization",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/KeycloakGroup" }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Group"],
        "operationId": "create_group",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/GroupCreateRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/KeycloakGroup" }
              }
            }
          }
        }
      }
    },
    "/admin/organizations/{org_id}/invitations": {
      "post": {
        "tags": ["Organization"],
        "summary": "Invite a user to an organization",
        "operationId": "invite_user_to_organization",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UserInvitationRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInvitationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/organizations/{org_id}/members": {
      "get": {
        "tags": ["Organization"],
        "summary": "Get all members of an organization",
        "operationId": "get_organization_members",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/KeycloakUser" }
                }
              }
            }
          }
        }
      }
    },
    "/admin/users/{user_id}": {
      "delete": {
        "tags": ["User"],
        "summary": "Delete a user by ID",
        "operationId": "delete_user",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "User ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": { "204": { "description": "No Content" } }
      }
    },
    "/api/submissions/submit": {
      "post": {
        "tags": ["Submissions"],
        "summary": "Submit an assessment",
        "description": "This endpoint submits an assessment and triggers the generation of a report.",
        "operationId": "submit_assessment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitAssessmentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Assessment submitted successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ReportResponse" }
              }
            }
          },
          "400": { "description": "Bad request" },
          "404": { "description": "Assessment not found" },
          "500": { "description": "Internal server error" }
        }
      }
    },
    "/assessments": {
      "get": {
        "tags": ["crate::api::handlers::assessment"],
        "summary": "List assessments with pagination",
        "operationId": "list_assessments",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number (default 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true,
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size (default 20)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Assessments list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponsePaginatedAssessmentResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["crate::api::handlers::assessment"],
        "summary": "Create a new assessment",
        "operationId": "create_assessment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAssessmentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Assessment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseAssessmentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/assessments/cooperations/{cooperation_id}": {
      "get": {
        "tags": ["crate::api::handlers::assessment"],
        "summary": "List assessments by cooperation",
        "operationId": "list_assessments_by_cooperation",
        "parameters": [
          {
            "name": "cooperation_id",
            "in": "path",
            "description": "Cooperation ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Assessments by cooperation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseAssessmentsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/assessments/cooperations/{cooperation_id}/submissions": {
      "get": {
        "tags": ["crate::api::handlers::assessment"],
        "summary": "List submissions by cooperation",
        "operationId": "list_submissions_by_cooperation",
        "parameters": [
          {
            "name": "cooperation_id",
            "in": "path",
            "description": "Cooperation ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Submissions by cooperation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseAssessmentSummaryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/assessments/organizations/{organization_id}": {
      "get": {
        "tags": ["crate::api::handlers::assessment"],
        "summary": "List assessments by organization",
        "operationId": "list_assessments_by_organization",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Assessments by organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseAssessmentsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/assessments/organizations/{organization_id}/submissions": {
      "get": {
        "tags": ["crate::api::handlers::assessment"],
        "summary": "List submissions by organization",
        "operationId": "list_submissions_by_organization",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Submissions by organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseAssessmentSummaryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/assessments/organizations/{organization_id}/{assessment_id}": {
      "delete": {
        "tags": ["crate::api::handlers::assessment"],
        "summary": "Delete an assessment for a specific organization",
        "operationId": "delete_organization_assessment",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "assessment_id",
            "in": "path",
            "description": "Assessment ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": { "description": "Assessment deleted" },
          "404": { "description": "Assessment not found" }
        }
      }
    },
    "/assessments/{assessment_id}/dimension-assessments": {
      "get": {
        "tags": ["crate::api::handlers::assessment"],
        "summary": "List all dimension assessments for an assessment",
        "operationId": "list_dimension_assessments",
        "parameters": [
          {
            "name": "assessment_id",
            "in": "path",
            "description": "Assessment ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Dimension assessments list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseDimensionAssessmentsResponse"
                }
              }
            }
          },
          "404": { "description": "Assessment not found" }
        }
      }
    },
    "/assessments/{assessment_id}/dimension-assessments/{dimension_assessment_id}": {
      "put": {
        "tags": ["crate::api::handlers::assessment"],
        "summary": "Update dimension assessment",
        "operationId": "update_dimension_assessment",
        "parameters": [
          {
            "name": "assessment_id",
            "in": "path",
            "description": "Assessment ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "dimension_assessment_id",
            "in": "path",
            "description": "Dimension assessment ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDimensionAssessmentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Dimension assessment updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseDimensionAssessmentResponse"
                }
              }
            }
          },
          "404": { "description": "Dimension assessment not found" }
        }
      }
    },
    "/assessments/{assessment_id}/gaps": {
      "get": {
        "tags": ["Gaps"],
        "summary": "List gaps by assessment",
        "description": "Retrieves a paginated list of gaps for a specific assessment across all dimensions.",
        "operationId": "list_gaps_by_assessment",
        "parameters": [
          {
            "name": "assessment_id",
            "in": "path",
            "description": "Assessment ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (1-based)",
            "required": false,
            "schema": { "type": "integer", "format": "int64", "nullable": true }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": { "type": "integer", "format": "int64", "nullable": true }
          }
        ],
        "responses": {
          "200": {
            "description": "Gaps retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponsePaginatedGapResponse"
                }
              }
            }
          },
          "401": { "description": "Unauthorized" },
          "404": { "description": "Assessment not found" }
        },
        "security": [{ "jwt": [] }]
      }
    },
    "/assessments/{id}": {
      "get": {
        "tags": ["crate::api::handlers::assessment"],
        "summary": "Get assessment by ID",
        "operationId": "get_assessment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Assessment ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Assessment fetched",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseAssessmentResponse"
                }
              }
            }
          },
          "404": { "description": "Assessment not found" }
        }
      },
      "put": {
        "tags": ["crate::api::handlers::assessment"],
        "summary": "Update assessment",
        "operationId": "update_assessment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Assessment ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAssessmentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Assessment updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseAssessmentResponse"
                }
              }
            }
          },
          "404": { "description": "Assessment not found" }
        }
      },
      "delete": {
        "tags": ["crate::api::handlers::assessment"],
        "summary": "Delete assessment",
        "operationId": "delete_assessment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Assessment ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": { "200": { "description": "Assessment deleted" } }
      }
    },
    "/assessments/{id}/dimension-assessments": {
      "post": {
        "tags": ["crate::api::handlers::assessment"],
        "summary": "Create dimension assessment",
        "operationId": "create_dimension_assessment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Assessment ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDimensionAssessmentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Dimension assessment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseDimensionAssessmentResponse"
                }
              }
            }
          },
          "404": { "description": "Assessment not found" }
        }
      }
    },
    "/assessments/{id}/summary": {
      "get": {
        "tags": ["crate::api::handlers::assessment"],
        "summary": "Get assessment summary with related data",
        "operationId": "get_assessment_summary",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Assessment ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Assessment summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseAssessmentSummaryResponse"
                }
              }
            }
          },
          "404": { "description": "Assessment not found" }
        }
      }
    },
    "/consolidated-reports/dgrv-admin": {
      "get": {
        "tags": ["crate::api::handlers::consolidated_report"],
        "summary": "Get consolidated report for DGRV admin",
        "operationId": "dgrv_admin_consolidated_report",
        "responses": {
          "200": {
            "description": "Consolidated report for DGRV admin",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ConsolidatedReport" }
              }
            }
          }
        }
      }
    },
    "/consolidated-reports/org-admin/{organization_id}": {
      "get": {
        "tags": ["crate::api::handlers::consolidated_report"],
        "summary": "Get consolidated report for an organization admin",
        "operationId": "org_admin_consolidated_report",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Consolidated report for an organization admin",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ConsolidatedReport" }
              }
            }
          }
        }
      }
    },
    "/dimension-assessments/{dimension_assessment_id}/gaps": {
      "get": {
        "tags": ["Gaps"],
        "summary": "List gaps by dimension assessment",
        "description": "Retrieves a paginated list of gaps for a specific dimension assessment.",
        "operationId": "list_gaps_by_dimension_assessment",
        "parameters": [
          {
            "name": "dimension_assessment_id",
            "in": "path",
            "description": "Dimension Assessment ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (1-based)",
            "required": false,
            "schema": { "type": "integer", "format": "int64", "nullable": true }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": { "type": "integer", "format": "int64", "nullable": true }
          }
        ],
        "responses": {
          "200": {
            "description": "Gaps retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponsePaginatedGapResponse"
                }
              }
            }
          },
          "401": { "description": "Unauthorized" },
          "404": { "description": "Dimension assessment not found" }
        },
        "security": [{ "jwt": [] }]
      }
    },
    "/dimensions": {
      "get": {
        "tags": ["crate::api::handlers::dimension"],
        "summary": "List dimensions with pagination",
        "operationId": "list_dimensions",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number (default 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true,
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size (default 20)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dimensions list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponsePaginatedDimensionResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["crate::api::handlers::dimension"],
        "summary": "Create a new dimension",
        "operationId": "create_dimension",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDimensionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Dimension created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseDimensionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dimensions/{dimension_id}/current-states/{current_state_id}": {
      "put": {
        "tags": ["crate::api::handlers::dimension"],
        "summary": "Update current state",
        "operationId": "update_current_state",
        "parameters": [
          {
            "name": "dimension_id",
            "in": "path",
            "description": "Dimension ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "current_state_id",
            "in": "path",
            "description": "Current state ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCurrentStateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Current state updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCurrentStateResponse"
                }
              }
            }
          },
          "404": { "description": "Current state not found" }
        }
      },
      "delete": {
        "tags": ["crate::api::handlers::dimension"],
        "summary": "Delete current state",
        "operationId": "delete_current_state",
        "parameters": [
          {
            "name": "dimension_id",
            "in": "path",
            "description": "Dimension ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "current_state_id",
            "in": "path",
            "description": "Current state ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": { "200": { "description": "Current state deleted" } }
      }
    },
    "/dimensions/{dimension_id}/desired-states/{desired_state_id}": {
      "put": {
        "tags": ["crate::api::handlers::dimension"],
        "summary": "Update desired state",
        "operationId": "update_desired_state",
        "parameters": [
          {
            "name": "dimension_id",
            "in": "path",
            "description": "Dimension ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "desired_state_id",
            "in": "path",
            "description": "Desired state ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDesiredStateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Desired state updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseDesiredStateResponse"
                }
              }
            }
          },
          "404": { "description": "Desired state not found" }
        }
      },
      "delete": {
        "tags": ["crate::api::handlers::dimension"],
        "summary": "Delete desired state",
        "operationId": "delete_desired_state",
        "parameters": [
          {
            "name": "dimension_id",
            "in": "path",
            "description": "Dimension ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "desired_state_id",
            "in": "path",
            "description": "Desired state ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": { "200": { "description": "Desired state deleted" } }
      }
    },
    "/dimensions/{id}": {
      "get": {
        "tags": ["crate::api::handlers::dimension"],
        "summary": "Get dimension by ID",
        "operationId": "get_dimension",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Dimension ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Dimension fetched",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseDimensionResponse"
                }
              }
            }
          },
          "404": { "description": "Dimension not found" }
        }
      },
      "put": {
        "tags": ["crate::api::handlers::dimension"],
        "summary": "Update dimension",
        "operationId": "update_dimension",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Dimension ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDimensionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Dimension updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseDimensionResponse"
                }
              }
            }
          },
          "404": { "description": "Dimension not found" }
        }
      },
      "delete": {
        "tags": ["crate::api::handlers::dimension"],
        "summary": "Delete dimension",
        "operationId": "delete_dimension",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Dimension ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": { "200": { "description": "Dimension deleted" } }
      }
    },
    "/dimensions/{id}/current-states": {
      "post": {
        "tags": ["crate::api::handlers::dimension"],
        "summary": "Create current state",
        "operationId": "create_current_state",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Dimension ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCurrentStateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Current state created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCurrentStateResponse"
                }
              }
            }
          },
          "404": { "description": "Dimension not found" }
        }
      }
    },
    "/dimensions/{id}/desired-states": {
      "post": {
        "tags": ["crate::api::handlers::dimension"],
        "summary": "Create desired state",
        "operationId": "create_desired_state",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Dimension ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDesiredStateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Desired state created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseDesiredStateResponse"
                }
              }
            }
          },
          "404": { "description": "Dimension not found" }
        }
      }
    },
    "/dimensions/{id}/recommendations": {
      "get": {
        "tags": ["recommendations"],
        "summary": "List recommendations by dimension",
        "description": "Retrieves a paginated list of recommendations for a specific dimension.",
        "operationId": "list_recommendations_by_dimension",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Dimension ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (starts from 1)",
            "required": false,
            "schema": { "type": "integer", "format": "int64", "nullable": true }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of items per page (default: 10, max: 100)",
            "required": false,
            "schema": { "type": "integer", "format": "int64", "nullable": true }
          }
        ],
        "responses": {
          "200": {
            "description": "List of recommendations for the dimension",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponsePaginatedRecommendationResponse"
                }
              }
            }
          },
          "500": { "description": "Internal server error" }
        }
      }
    },
    "/dimensions/{id}/with-states": {
      "get": {
        "tags": ["crate::api::handlers::dimension"],
        "summary": "Get dimension with states",
        "operationId": "get_dimension_with_states",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Dimension ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Dimension with states",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseDimensionWithStatesResponse"
                }
              }
            }
          },
          "404": { "description": "Dimension not found" }
        }
      }
    },
    "/gaps": {
      "get": {
        "tags": ["Gaps"],
        "summary": "List all gaps with pagination",
        "description": "Retrieves a paginated list of all gaps in the system.",
        "operationId": "list_gaps",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number (1-based)",
            "required": false,
            "schema": { "type": "integer", "format": "int64", "nullable": true }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": { "type": "integer", "format": "int64", "nullable": true }
          }
        ],
        "responses": {
          "200": {
            "description": "Gaps retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponsePaginatedGapResponse"
                }
              }
            }
          },
          "401": { "description": "Unauthorized" }
        },
        "security": [{ "jwt": [] }]
      }
    },
    "/gaps/{id}": {
      "get": {
        "tags": ["Gaps"],
        "summary": "Get a specific gap by ID",
        "description": "Retrieves the details of a specific gap using its unique identifier.",
        "operationId": "get_gap",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Gap ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Gap details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseGapResponse"
                }
              }
            }
          },
          "401": { "description": "Unauthorized" },
          "404": { "description": "Gap not found" }
        },
        "security": [{ "jwt": [] }]
      },
      "put": {
        "tags": ["Gaps"],
        "summary": "Update an existing gap",
        "description": "Optionally updates gap size (and recalculates severity) and/or description.",
        "operationId": "update_gap",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Gap ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateGapRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Gap updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseGapResponse"
                }
              }
            }
          },
          "401": { "description": "Unauthorized" },
          "404": { "description": "Gap not found" }
        },
        "security": [{ "jwt": [] }]
      },
      "delete": {
        "tags": ["Gaps"],
        "summary": "Delete a gap",
        "operationId": "delete_gap",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Gap ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Gap deleted successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponseEmpty" }
              }
            }
          },
          "401": { "description": "Unauthorized" },
          "404": { "description": "Gap not found" }
        },
        "security": [{ "jwt": [] }]
      }
    },
    "/recommendations": {
      "get": {
        "tags": ["recommendations"],
        "summary": "List all recommendations with pagination",
        "description": "Retrieves a paginated list of all recommendations in the system.",
        "operationId": "list_recommendations",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number (starts from 1)",
            "required": false,
            "schema": { "type": "integer", "format": "int64", "nullable": true }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of items per page (default: 10, max: 100)",
            "required": false,
            "schema": { "type": "integer", "format": "int64", "nullable": true }
          }
        ],
        "responses": {
          "200": {
            "description": "List of recommendations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponsePaginatedRecommendationResponse"
                }
              }
            }
          },
          "500": { "description": "Internal server error" }
        }
      },
      "post": {
        "tags": ["recommendations"],
        "summary": "Create a new recommendation",
        "description": "Creates a new recommendation with the provided details.",
        "operationId": "create_recommendation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRecommendationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Recommendation created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseRecommendationResponse"
                }
              }
            }
          },
          "400": { "description": "Invalid input data" },
          "500": { "description": "Internal server error" }
        }
      }
    },
    "/recommendations/{id}": {
      "get": {
        "tags": ["recommendations"],
        "summary": "Get a specific recommendation by ID",
        "description": "Retrieves the details of a specific recommendation using its unique identifier.",
        "operationId": "get_recommendation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Recommendation ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Recommendation found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseRecommendationResponse"
                }
              }
            }
          },
          "404": { "description": "Recommendation not found" },
          "500": { "description": "Internal server error" }
        }
      },
      "put": {
        "tags": ["recommendations"],
        "summary": "Update an existing recommendation",
        "description": "Updates the priority and/or description of an existing recommendation.",
        "operationId": "update_recommendation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Recommendation ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRecommendationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Recommendation updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseRecommendationResponse"
                }
              }
            }
          },
          "400": { "description": "Invalid input data" },
          "404": { "description": "Recommendation not found" },
          "500": { "description": "Internal server error" }
        }
      },
      "delete": {
        "tags": ["recommendations"],
        "summary": "Delete a recommendation",
        "description": "Deletes a recommendation by its ID.",
        "operationId": "delete_recommendation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Recommendation ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Recommendation deleted successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponseEmpty" }
              }
            }
          },
          "404": { "description": "Recommendation not found" },
          "500": { "description": "Internal server error" }
        }
      }
    },
    "/reports": {
      "get": {
        "tags": ["crate::api::handlers::report"],
        "summary": "List reports with pagination",
        "operationId": "list_reports",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number (default 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true,
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size (default 20)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reports list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponsePaginatedReportResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["crate::api::handlers::report"],
        "summary": "Generate a new report",
        "operationId": "generate_report",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/GenerateReportRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Report generation started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseReportResponse"
                }
              }
            }
          }
        }
      }
    },
    "/reports/assessment/{assessment_id}": {
      "get": {
        "tags": ["crate::api::handlers::report"],
        "summary": "List reports by assessment",
        "operationId": "list_reports_by_assessment",
        "parameters": [
          {
            "name": "assessment_id",
            "in": "path",
            "description": "Assessment ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Reports list by assessment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponsePaginatedReportResponse"
                }
              }
            }
          }
        }
      }
    },
    "/reports/assessment/{assessment_id}/download": {
      "get": {
        "tags": ["crate::api::handlers::report"],
        "summary": "Download latest PDF report by assessment ID",
        "operationId": "download_latest_report_by_assessment",
        "parameters": [
          {
            "name": "assessment_id",
            "in": "path",
            "description": "Assessment ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Report file content",
            "content": {
              "application/octet-stream": {
                "schema": { "type": "string", "format": "binary" }
              }
            }
          },
          "404": { "description": "Report not found" }
        }
      }
    },
    "/reports/{id}": {
      "get": {
        "tags": ["crate::api::handlers::report"],
        "summary": "Get report by ID",
        "operationId": "get_report",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Report ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Report fetched",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseReportResponse"
                }
              }
            }
          },
          "404": { "description": "Report not found" }
        }
      },
      "put": {
        "tags": ["crate::api::handlers::report"],
        "summary": "Update report",
        "operationId": "update_report",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Report ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateReportRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Report updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseReportResponse"
                }
              }
            }
          },
          "404": { "description": "Report not found" }
        }
      },
      "delete": {
        "tags": ["crate::api::handlers::report"],
        "summary": "Delete report",
        "operationId": "delete_report",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Report ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": { "200": { "description": "Report deleted" } }
      }
    },
    "/reports/{id}/download": {
      "get": {
        "tags": ["crate::api::handlers::report"],
        "summary": "Download report file",
        "operationId": "download_report",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Report ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Report download info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseReportDownloadResponse"
                }
              }
            }
          },
          "404": { "description": "Report not found" }
        }
      }
    },
    "/reports/{id}/status": {
      "get": {
        "tags": ["crate::api::handlers::report"],
        "summary": "Get report status",
        "operationId": "get_report_status",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Report ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Report status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseReportStatusResponse"
                }
              }
            }
          },
          "404": { "description": "Report not found" }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ActionItemResponse": {
        "type": "object",
        "required": [
          "action_item_id",
          "dimension_assessment_id",
          "status",
          "priority",
          "title",
          "description",
          "dimension"
        ],
        "properties": {
          "action_item_id": { "type": "string", "format": "uuid" },
          "description": { "type": "string" },
          "dimension": { "type": "string" },
          "dimension_assessment_id": { "type": "string", "format": "uuid" },
          "priority": { "type": "string" },
          "status": { "type": "string" },
          "title": { "type": "string" }
        }
      },
      "ActionPlanResponse": {
        "type": "object",
        "required": [
          "action_plan_id",
          "assessment_id",
          "created_at",
          "action_items"
        ],
        "properties": {
          "action_items": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ActionItemResponse" }
          },
          "action_plan_id": { "type": "string", "format": "uuid" },
          "assessment_id": { "type": "string", "format": "uuid" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "AddMemberRequest": {
        "type": "object",
        "required": ["email", "roles"],
        "properties": {
          "dimension_ids": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Optional list of dimension IDs that this member is allowed to answer",
            "nullable": true
          },
          "email": { "type": "string" },
          "first_name": { "type": "string", "nullable": true },
          "last_name": { "type": "string", "nullable": true },
          "roles": { "type": "array", "items": { "type": "string" } }
        }
      },
      "AdminCreateGapRequest": {
        "type": "object",
        "required": ["dimension_id", "gap_description", "gap_severity"],
        "properties": {
          "dimension_id": {
            "type": "string",
            "format": "uuid",
            "description": "Target dimension to create the gap for",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "gap_description": {
            "type": "string",
            "description": "explicit description to override",
            "example": "Significant gap"
          },
          "gap_severity": { "$ref": "#/components/schemas/GapSeverity" }
        },
        "example": {
          "dimension_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
          "gap_description": "A significant gap in the marketing dimension.",
          "gap_severity": "HIGH"
        }
      },
      "ApiResponseActionItemResponse": {
        "type": "object",
        "description": "Standard API response wrapper",
        "required": ["success"],
        "properties": {
          "data": {
            "allOf": [
              {
                "type": "object",
                "required": [
                  "action_item_id",
                  "dimension_assessment_id",
                  "status",
                  "priority",
                  "title",
                  "description",
                  "dimension"
                ],
                "properties": {
                  "action_item_id": { "type": "string", "format": "uuid" },
                  "description": { "type": "string" },
                  "dimension": { "type": "string" },
                  "dimension_assessment_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "priority": { "type": "string" },
                  "status": { "type": "string" },
                  "title": { "type": "string" }
                }
              }
            ],
            "nullable": true
          },
          "error": { "type": "string", "nullable": true },
          "message": { "type": "string", "nullable": true },
          "success": { "type": "boolean" }
        }
      },
      "ApiResponseActionPlanResponse": {
        "type": "object",
        "description": "Standard API response wrapper",
        "required": ["success"],
        "properties": {
          "data": {
            "allOf": [
              {
                "type": "object",
                "required": [
                  "action_plan_id",
                  "assessment_id",
                  "created_at",
                  "action_items"
                ],
                "properties": {
                  "action_items": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ActionItemResponse"
                    }
                  },
                  "action_plan_id": { "type": "string", "format": "uuid" },
                  "assessment_id": { "type": "string", "format": "uuid" },
                  "created_at": { "type": "string", "format": "date-time" }
                }
              }
            ],
            "nullable": true
          },
          "error": { "type": "string", "nullable": true },
          "message": { "type": "string", "nullable": true },
          "success": { "type": "boolean" }
        }
      },
      "ApiResponseActionPlanWithItemsResponse": {
        "type": "object",
        "description": "Standard API response wrapper",
        "required": ["success"],
        "properties": {
          "data": {
            "allOf": [
              {
                "type": "object",
                "required": [
                  "action_plan_id",
                  "assessment_id",
                  "created_at",
                  "action_items"
                ],
                "properties": {
                  "action_items": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ActionItemResponse"
                    }
                  },
                  "action_plan_id": { "type": "string", "format": "uuid" },
                  "assessment_id": { "type": "string", "format": "uuid" },
                  "created_at": { "type": "string", "format": "date-time" }
                }
              }
            ],
            "nullable": true
          },
          "error": { "type": "string", "nullable": true },
          "message": { "type": "string", "nullable": true },
          "success": { "type": "boolean" }
        }
      },
      "ApiResponseAdminCreateGapRequest": {
        "type": "object",
        "description": "Standard API response wrapper",
        "required": ["success"],
        "properties": {
          "data": {
            "allOf": [
              {
                "type": "object",
                "required": ["dimension_id", "gap_description", "gap_severity"],
                "properties": {
                  "dimension_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Target dimension to create the gap for",
                    "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                  },
                  "gap_description": {
                    "type": "string",
                    "description": "explicit description to override",
                    "example": "Significant gap"
                  },
                  "gap_severity": { "$ref": "#/components/schemas/GapSeverity" }
                },
                "example": {
                  "dimension_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                  "gap_description": "A significant gap in the marketing dimension.",
                  "gap_severity": "HIGH"
                }
              }
            ],
            "nullable": true
          },
          "error": { "type": "string", "nullable": true },
          "message": { "type": "string", "nullable": true },
          "success": { "type": "boolean" }
        }
      },
      "ApiResponseAssessmentResponse": {
        "type": "object",
        "description": "Standard API response wrapper",
        "required": ["success"],
        "properties": {
          "data": {
            "allOf": [
              {
                "type": "object",
                "description": "Assessment response",
                "required": [
                  "assessment_id",
                  "organization_id",
                  "document_title",
                  "status",
                  "created_at",
                  "updated_at"
                ],
                "properties": {
                  "assessment_id": { "type": "string", "format": "uuid" },
                  "completed_at": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true
                  },
                  "cooperation_id": { "type": "string", "nullable": true },
                  "created_at": { "type": "string", "format": "date-time" },
                  "dimensions_id": { "nullable": true },
                  "document_title": { "type": "string" },
                  "organization_id": { "type": "string" },
                  "started_at": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true
                  },
                  "status": { "$ref": "#/components/schemas/AssessmentStatus" },
                  "updated_at": { "type": "string", "format": "date-time" }
                }
              }
            ],
            "nullable": true
          },
          "error": { "type": "string", "nullable": true },
          "message": { "type": "string", "nullable": true },
          "success": { "type": "boolean" }
        }
      },
      "ApiResponseAssessmentSummaryResponse": {
        "type": "object",
        "description": "Standard API response wrapper",
        "required": ["success"],
        "properties": {
          "data": {
            "allOf": [
              {
                "type": "object",
                "description": "Assessment summary response",
                "required": [
                  "assessment",
                  "dimension_assessments",
                  "gaps_count",
                  "recommendations_count"
                ],
                "properties": {
                  "assessment": {
                    "$ref": "#/components/schemas/AssessmentResponse"
                  },
                  "dimension_assessments": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/DimensionAssessmentResponse"
                    }
                  },
                  "gaps_count": {
                    "type": "integer",
                    "format": "int32",
                    "minimum": 0
                  },
                  "overall_score": {
                    "type": "integer",
                    "format": "int32",
                    "nullable": true
                  },
                  "recommendations_count": {
                    "type": "integer",
                    "format": "int32",
                    "minimum": 0
                  }
                }
              }
            ],
            "nullable": true
          },
          "error": { "type": "string", "nullable": true },
          "message": { "type": "string", "nullable": true },
          "success": { "type": "boolean" }
        }
      },
      "ApiResponseAssessmentsResponse": {
        "type": "object",
        "description": "Standard API response wrapper",
        "required": ["success"],
        "properties": {
          "data": {
            "allOf": [
              {
                "type": "object",
                "description": "A list of assessments",
                "required": ["assessments"],
                "properties": {
                  "assessments": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/AssessmentResponse"
                    }
                  }
                }
              }
            ],
            "nullable": true
          },
          "error": { "type": "string", "nullable": true },
          "message": { "type": "string", "nullable": true },
          "success": { "type": "boolean" }
        }
      },
      "ApiResponseCreateRecommendationRequest": {
        "type": "object",
        "description": "Standard API response wrapper",
        "required": ["success"],
        "properties": {
          "data": {
            "allOf": [
              {
                "type": "object",
                "required": ["dimension_id", "priority", "description"],
                "properties": {
                  "description": {
                    "type": "string",
                    "description": "Detailed description of the recommendation",
                    "example": "Implement automated testing for critical components"
                  },
                  "dimension_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Unique identifier of the dimension this recommendation is for",
                    "example": "550e8400-e29b-41d4-a716-446655440000"
                  },
                  "priority": {
                    "$ref": "#/components/schemas/RecommendationPriority"
                  }
                },
                "example": {
                  "dimension_id": "550e8400-e29b-41d4-a716-446655440000",
                  "priority": "HIGH",
                  "description": "Implement automated testing for critical components"
                }
              }
            ],
            "nullable": true
          },
          "error": { "type": "string", "nullable": true },
          "message": { "type": "string", "nullable": true },
          "success": { "type": "boolean" }
        }
      },
      "ApiResponseCurrentStateResponse": {
        "type": "object",
        "description": "Standard API response wrapper",
        "required": ["success"],
        "properties": {
          "data": {
            "allOf": [
              {
                "type": "object",
                "description": "Current state response",
                "required": [
                  "current_state_id",
                  "dimension_id",
                  "score",
                  "created_at",
                  "updated_at"
                ],
                "properties": {
                  "created_at": { "type": "string", "format": "date-time" },
                  "current_state_id": { "type": "string", "format": "uuid" },
                  "description": { "type": "string", "nullable": true },
                  "dimension_id": { "type": "string", "format": "uuid" },
                  "score": { "type": "integer", "format": "int32" },
                  "updated_at": { "type": "string", "format": "date-time" }
                }
              }
            ],
            "nullable": true
          },
          "error": { "type": "string", "nullable": true },
          "message": { "type": "string", "nullable": true },
          "success": { "type": "boolean" }
        }
      },
      "ApiResponseDesiredStateResponse": {
        "type": "object",
        "description": "Standard API response wrapper",
        "required": ["success"],
        "properties": {
          "data": {
            "allOf": [
              {
                "type": "object",
                "description": "Desired state response",
                "required": [
                  "desired_state_id",
                  "dimension_id",
                  "score",
                  "created_at",
                  "updated_at"
                ],
                "properties": {
                  "created_at": { "type": "string", "format": "date-time" },
                  "description": { "type": "string", "nullable": true },
                  "desired_state_id": { "type": "string", "format": "uuid" },
                  "dimension_id": { "type": "string", "format": "uuid" },
                  "score": { "type": "integer", "format": "int32" },
                  "updated_at": { "type": "string", "format": "date-time" }
                }
              }
            ],
            "nullable": true
          },
          "error": { "type": "string", "nullable": true },
          "message": { "type": "string", "nullable": true },
          "success": { "type": "boolean" }
        }
      },
      "ApiResponseDimensionAssessmentResponse": {
        "type": "object",
        "description": "Standard API response wrapper",
        "required": ["success"],
        "properties": {
          "data": {
            "allOf": [
              {
                "type": "object",
                "description": "Dimension assessment response",
                "required": [
                  "dimension_assessment_id",
                  "assessment_id",
                  "dimension_id",
                  "current_state_id",
                  "desired_state_id",
                  "gap_score",
                  "gap_id",
                  "organization_id",
                  "created_at",
                  "updated_at"
                ],
                "properties": {
                  "assessment_id": { "type": "string", "format": "uuid" },
                  "cooperation_id": { "type": "string", "nullable": true },
                  "created_at": { "type": "string", "format": "date-time" },
                  "current_state_id": { "type": "string", "format": "uuid" },
                  "desired_state_id": { "type": "string", "format": "uuid" },
                  "dimension_assessment_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "dimension_id": { "type": "string", "format": "uuid" },
                  "gap_id": { "type": "string", "format": "uuid" },
                  "gap_score": { "type": "integer", "format": "int32" },
                  "organization_id": { "type": "string" },
                  "updated_at": { "type": "string", "format": "date-time" }
                }
              }
            ],
            "nullable": true
          },
          "error": { "type": "string", "nullable": true },
          "message": { "type": "string", "nullable": true },
          "success": { "type": "boolean" }
        }
      },
      "ApiResponseDimensionAssessmentsResponse": {
        "type": "object",
        "description": "Standard API response wrapper",
        "required": ["success"],
        "properties": {
          "data": {
            "allOf": [
              {
                "type": "object",
                "description": "A list of dimension assessments",
                "required": ["dimension_assessments"],
                "properties": {
                  "dimension_assessments": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/DimensionAssessmentResponse"
                    }
                  }
                }
              }
            ],
            "nullable": true
          },
          "error": { "type": "string", "nullable": true },
          "message": { "type": "string", "nullable": true },
          "success": { "type": "boolean" }
        }
      },
      "ApiResponseDimensionResponse": {
        "type": "object",
        "description": "Standard API response wrapper",
        "required": ["success"],
        "properties": {
          "data": {
            "allOf": [
              {
                "type": "object",
                "description": "Dimension response",
                "required": [
                  "dimension_id",
                  "name",
                  "created_at",
                  "updated_at"
                ],
                "properties": {
                  "category": { "type": "string", "nullable": true },
                  "created_at": { "type": "string", "format": "date-time" },
                  "description": { "type": "string", "nullable": true },
                  "dimension_id": { "type": "string", "format": "uuid" },
                  "is_active": { "type": "boolean", "nullable": true },
                  "name": { "type": "string" },
                  "updated_at": { "type": "string", "format": "date-time" },
                  "weight": {
                    "type": "integer",
                    "format": "int32",
                    "nullable": true
                  }
                }
              }
            ],
            "nullable": true
          },
          "error": { "type": "string", "nullable": true },
          "message": { "type": "string", "nullable": true },
          "success": { "type": "boolean" }
        }
      },
      "ApiResponseDimensionWithStatesResponse": {
        "type": "object",
        "description": "Standard API response wrapper",
        "required": ["success"],
        "properties": {
          "data": {
            "allOf": [
              {
                "type": "object",
                "description": "Dimension with states response",
                "required": ["dimension", "current_states", "desired_states"],
                "properties": {
                  "current_states": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CurrentStateResponse"
                    }
                  },
                  "desired_states": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/DesiredStateResponse"
                    }
                  },
                  "dimension": {
                    "$ref": "#/components/schemas/DimensionResponse"
                  }
                }
              }
            ],
            "nullable": true
          },
          "error": { "type": "string", "nullable": true },
          "message": { "type": "string", "nullable": true },
          "success": { "type": "boolean" }
        }
      },
      "ApiResponseEmpty": {
        "type": "object",
        "description": "Standard API response wrapper",
        "required": ["success"],
        "properties": {
          "data": {
            "allOf": [
              {
                "type": "object",
                "description": "Empty response for operations that don't return data"
              }
            ],
            "nullable": true
          },
          "error": { "type": "string", "nullable": true },
          "message": { "type": "string", "nullable": true },
          "success": { "type": "boolean" }
        }
      },
      "ApiResponseGapResponse": {
        "type": "object",
        "description": "Standard API response wrapper",
        "required": ["success"],
        "properties": {
          "data": {
            "allOf": [
              {
                "type": "object",
                "required": [
                  "gap_id",
                  "dimension_id",
                  "gap_size",
                  "gap_severity",
                  "calculated_at",
                  "created_at",
                  "updated_at"
                ],
                "properties": {
                  "calculated_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "When the gap was calculated",
                    "example": "2023-01-01T00:00:00Z"
                  },
                  "created_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "When the gap was created",
                    "example": "2023-01-01T00:00:00Z"
                  },
                  "dimension_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Reference to the dimension",
                    "example": "550e8400-e29b-41d4-a716-446655440002"
                  },
                  "gap_description": {
                    "type": "string",
                    "description": "Optional description of the gap",
                    "example": "Significant gap in digital transformation",
                    "nullable": true
                  },
                  "gap_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Unique identifier for the gap",
                    "example": "550e8400-e29b-41d4-a716-446655440000"
                  },
                  "gap_severity": {
                    "$ref": "#/components/schemas/GapSeverity"
                  },
                  "gap_size": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Numeric size of the gap",
                    "example": 3
                  },
                  "updated_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "When the gap was last updated",
                    "example": "2023-01-01T00:00:00Z"
                  }
                },
                "example": {
                  "gap_id": "550e8400-e29b-41d4-a716-446655440000",
                  "dimension_id": "550e8400-e29b-41d4-a716-446655440002",
                  "gap_size": 3,
                  "gap_severity": "HIGH",
                  "gap_description": "Significant gap in digital transformation",
                  "calculated_at": "2023-01-01T00:00:00Z",
                  "created_at": "2023-01-01T00:00:00Z",
                  "updated_at": "2023-01-01T00:00:00Z"
                }
              }
            ],
            "nullable": true
          },
          "error": { "type": "string", "nullable": true },
          "message": { "type": "string", "nullable": true },
          "success": { "type": "boolean" }
        }
      },
      "ApiResponsePaginatedActionPlanResponse": {
        "type": "object",
        "description": "Standard API response wrapper",
        "required": ["success"],
        "properties": {
          "data": {
            "allOf": [
              {
                "type": "object",
                "description": "Paginated response",
                "required": ["items", "total", "page", "limit", "total_pages"],
                "properties": {
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "action_plan_id",
                        "assessment_id",
                        "created_at",
                        "action_items"
                      ],
                      "properties": {
                        "action_items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ActionItemResponse"
                          }
                        },
                        "action_plan_id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "assessment_id": { "type": "string", "format": "uuid" },
                        "created_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  },
                  "limit": {
                    "type": "integer",
                    "format": "int32",
                    "minimum": 0
                  },
                  "page": {
                    "type": "integer",
                    "format": "int32",
                    "minimum": 0
                  },
                  "total": {
                    "type": "integer",
                    "format": "int64",
                    "minimum": 0
                  },
                  "total_pages": {
                    "type": "integer",
                    "format": "int32",
                    "minimum": 0
                  }
                }
              }
            ],
            "nullable": true
          },
          "error": { "type": "string", "nullable": true },
          "message": { "type": "string", "nullable": true },
          "success": { "type": "boolean" }
        }
      },
      "ApiResponsePaginatedAssessmentResponse": {
        "type": "object",
        "description": "Standard API response wrapper",
        "required": ["success"],
        "properties": {
          "data": {
            "allOf": [
              {
                "type": "object",
                "description": "Paginated response",
                "required": ["items", "total", "page", "limit", "total_pages"],
                "properties": {
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "description": "Assessment response",
                      "required": [
                        "assessment_id",
                        "organization_id",
                        "document_title",
                        "status",
                        "created_at",
                        "updated_at"
                      ],
                      "properties": {
                        "assessment_id": { "type": "string", "format": "uuid" },
                        "completed_at": {
                          "type": "string",
                          "format": "date-time",
[...]
